a { text-decoration: none; }

.navbar-brand {
    margin-left: 10px;
    font-size: 17px;
}

.navbar-nav {
    margin-left: 10px;
}

#img {
    width: 180px;
    height: auto;
    margin: 0 auto;
    border: 0;
}

#restart { 
    display: flex;
    align-items: center;
    justify-content: center;
}